SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=<your username>
SMTP_PASSWORD=<you password>

PSQL_HOST=localhost
PSQL_PORT=5432
PSQL_USER=baloo
PSQL_PASSWORD=junglebook
PSQL_DATABASE=lenslocked
PSQL_SSLMODE=disable

CSRF_KEY=<32 byte string>
CSRF_SECURE=false
CSRF_TRUSTED_ORIGINS="http://localhost:3000 http://127.0.0.1:3000 localhost:3000 127.0.0.1:3000"

SERVER_ADDRESS=:3000